WORKER_COUNT=1
WORKER_COORDINATOR_HOST=localhost
WORKER_COORDINATOR_PORT=7070
WORKER_DATA_SERVER_HOST=localhost
WORKER_DATA_SERVER_PORT=9090
WORKER_CAPACITY=1
COORDINATOR_SEEDS_COUNT=
BUILD_CLEAN=false
BUILD_SKIP=false
